-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: munyari_church
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admins` (
  `id` int(6) unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `profile_picture` varchar(255) NOT NULL DEFAULT 'default_avatar.png',
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES (1,'admin','$2y$10$JGPQ7rge/SfvONY4M2WvueKQFGouhdnjQXJtmj5ZiT78Z.5.rxA6u','2026-07-17 14:58:33','admin_1_1786812010.png');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `appointments`
--

DROP TABLE IF EXISTS `appointments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `appointments` (
  `id` int(6) unsigned NOT NULL AUTO_INCREMENT,
  `member_id` int(6) unsigned DEFAULT NULL,
  `pastor_id` int(6) unsigned DEFAULT NULL,
  `appointment_date` datetime DEFAULT NULL,
  `reason` text DEFAULT NULL,
  `status` enum('Pending','Approved','Declined','Completed') DEFAULT 'Pending',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `appointments`
--

LOCK TABLES `appointments` WRITE;
/*!40000 ALTER TABLE `appointments` DISABLE KEYS */;
INSERT INTO `appointments` VALUES (1,1,2,'2026-07-17 21:34:00','i want to see you','Completed','2026-07-17 18:35:13'),(2,5,2,'2026-08-08 17:56:00','dr','Approved','2026-08-08 14:56:07'),(3,40,14,'2026-08-29 21:48:00','for arrangement about the youth trip','Approved','2026-08-26 18:49:09');
/*!40000 ALTER TABLE `appointments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `user_type` varchar(50) NOT NULL,
  `user_name` varchar(100) NOT NULL,
  `action` varchar(100) NOT NULL,
  `details` text DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=734 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `building_announcements`
--

DROP TABLE IF EXISTS `building_announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `building_announcements` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `building_id` int(11) NOT NULL,
  `message` text DEFAULT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `building_announcements`
--

LOCK TABLES `building_announcements` WRITE;
/*!40000 ALTER TABLE `building_announcements` DISABLE KEYS */;
/*!40000 ALTER TABLE `building_announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `building_leadership_chat`
--

DROP TABLE IF EXISTS `building_leadership_chat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `building_leadership_chat` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `sender_id` int(6) unsigned NOT NULL,
  `sender_type` enum('member','pastor') NOT NULL DEFAULT 'member',
  `message` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `building_leadership_chat`
--

LOCK TABLES `building_leadership_chat` WRITE;
/*!40000 ALTER TABLE `building_leadership_chat` DISABLE KEYS */;
INSERT INTO `building_leadership_chat` VALUES (1,13,'member','eee','2026-08-08 18:54:23'),(2,2,'pastor','i wiil handle that','2026-08-08 19:16:33'),(3,2,'pastor','i wiil handle that','2026-08-08 19:18:43'),(4,5,'member','gggggg','2026-08-08 19:22:30');
/*!40000 ALTER TABLE `building_leadership_chat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `building_posts`
--

DROP TABLE IF EXISTS `building_posts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `building_posts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `author_id` int(6) unsigned NOT NULL,
  `post_content` text NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `author_id` (`author_id`),
  CONSTRAINT `building_posts_ibfk_1` FOREIGN KEY (`author_id`) REFERENCES `members` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `building_posts`
--

LOCK TABLES `building_posts` WRITE;
/*!40000 ALTER TABLE `building_posts` DISABLE KEYS */;
/*!40000 ALTER TABLE `building_posts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `building_progress`
--

DROP TABLE IF EXISTS `building_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `building_progress` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `chairperson_id` int(6) unsigned NOT NULL,
  `date_scheduled` date NOT NULL,
  `materials_needed` text NOT NULL,
  `progress_status` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `chairperson_id` (`chairperson_id`),
  CONSTRAINT `building_progress_ibfk_1` FOREIGN KEY (`chairperson_id`) REFERENCES `members` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `building_progress`
--

LOCK TABLES `building_progress` WRITE;
/*!40000 ALTER TABLE `building_progress` DISABLE KEYS */;
/*!40000 ALTER TABLE `building_progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chats`
--

DROP TABLE IF EXISTS `chats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chats` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `sender_id` int(11) NOT NULL,
  `chat_type` varchar(50) NOT NULL,
  `message` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chats`
--

LOCK TABLES `chats` WRITE;
/*!40000 ALTER TABLE `chats` DISABLE KEYS */;
/*!40000 ALTER TABLE `chats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `choir_announcements`
--

DROP TABLE IF EXISTS `choir_announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `choir_announcements` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `department` varchar(100) NOT NULL,
  `choir_leader_id` int(11) NOT NULL,
  `message` text NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `choir_announcements`
--

LOCK TABLES `choir_announcements` WRITE;
/*!40000 ALTER TABLE `choir_announcements` DISABLE KEYS */;
INSERT INTO `choir_announcements` VALUES (1,'Youths',11,'tomorrow we gather in church we practice',NULL,'2026-07-30 09:57:10');
/*!40000 ALTER TABLE `choir_announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `choir_song_plans`
--

DROP TABLE IF EXISTS `choir_song_plans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `choir_song_plans` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `department` varchar(100) NOT NULL,
  `choir_leader_id` int(11) NOT NULL,
  `song_type` varchar(120) NOT NULL,
  `song_title` varchar(255) NOT NULL,
  `song_date` date NOT NULL,
  `song_time` time DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `choir_song_plans`
--

LOCK TABLES `choir_song_plans` WRITE;
/*!40000 ALTER TABLE `choir_song_plans` DISABLE KEYS */;
INSERT INTO `choir_song_plans` VALUES (1,'Youths',11,'Worship','maombi yangu','2026-07-30','15:56:00','we will sing on sunday','2026-07-30 09:56:46');
/*!40000 ALTER TABLE `choir_song_plans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `church_highlights`
--

DROP TABLE IF EXISTS `church_highlights`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `church_highlights` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pastor_id` int(11) NOT NULL,
  `image_file` varchar(255) NOT NULL,
  `caption` varchar(255) DEFAULT NULL,
  `expires_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `church_highlights`
--

LOCK TABLES `church_highlights` WRITE;
/*!40000 ALTER TABLE `church_highlights` DISABLE KEYS */;
/*!40000 ALTER TABLE `church_highlights` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `church_roles`
--

DROP TABLE IF EXISTS `church_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `church_roles` (
  `id` int(6) unsigned NOT NULL AUTO_INCREMENT,
  `role_name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `role_name` (`role_name`)
) ENGINE=InnoDB AUTO_INCREMENT=31964 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `church_roles`
--

LOCK TABLES `church_roles` WRITE;
/*!40000 ALTER TABLE `church_roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `church_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `custom_desired_roles`
--

DROP TABLE IF EXISTS `custom_desired_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `custom_desired_roles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `role_name` varchar(100) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `role_name` (`role_name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `custom_desired_roles`
--

LOCK TABLES `custom_desired_roles` WRITE;
/*!40000 ALTER TABLE `custom_desired_roles` DISABLE KEYS */;
INSERT INTO `custom_desired_roles` VALUES (1,'assisting elderly','2026-09-28 21:20:17');
/*!40000 ALTER TABLE `custom_desired_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daily_messages`
--

DROP TABLE IF EXISTS `daily_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `daily_messages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pastor_id` int(11) NOT NULL,
  `quote` text DEFAULT NULL,
  `video_file` varchar(255) DEFAULT NULL,
  `expires_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_messages`
--

LOCK TABLES `daily_messages` WRITE;
/*!40000 ALTER TABLE `daily_messages` DISABLE KEYS */;
INSERT INTO `daily_messages` VALUES (4,2,'isaiah 60.22  at the right time i the lord i',NULL,NULL,'2026-07-18 09:55:15');
/*!40000 ALTER TABLE `daily_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `department_announcements`
--

DROP TABLE IF EXISTS `department_announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `department_announcements` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `department` varchar(100) NOT NULL,
  `secretary_id` int(11) NOT NULL,
  `message` text NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `department_announcements`
--

LOCK TABLES `department_announcements` WRITE;
/*!40000 ALTER TABLE `department_announcements` DISABLE KEYS */;
INSERT INTO `department_announcements` VALUES (1,'Youths',7,'tomorrow youths we ar e going to have  meeting',NULL,'2026-07-18 17:00:25'),(2,'Youths',8,'[GRADUATION UPDATE] ken is graduating',NULL,'2026-07-18 21:46:11'),(3,'General Church',1,'tommorrow we are going to kathura',NULL,'2026-07-29 16:04:22'),(4,'General Church',13,'we  are building',NULL,'2026-08-08 19:47:20');
/*!40000 ALTER TABLE `department_announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `department_funds_transfer`
--

DROP TABLE IF EXISTS `department_funds_transfer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `department_funds_transfer` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `department` varchar(100) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `transfer_type` enum('To Chairperson','To Member') NOT NULL,
  `recipient_member_id` int(11) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `recorded_by` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `financial_record_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `department_funds_transfer`
--

LOCK TABLES `department_funds_transfer` WRITE;
/*!40000 ALTER TABLE `department_funds_transfer` DISABLE KEYS */;
INSERT INTO `department_funds_transfer` VALUES (1,'Youths',2500.00,'To Chairperson',NULL,'fundraiser for youth',41,'2026-09-13 14:09:20',NULL),(6,'Youths',5000.00,'To Chairperson',NULL,'fundraiser for youth',41,'2026-09-13 16:01:05',7),(7,'Youths',333300.00,'To Chairperson',NULL,'this is what was collected in the fundraiser',53,'2026-09-27 10:42:19',9);
/*!40000 ALTER TABLE `department_funds_transfer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `elder_announcements`
--

DROP TABLE IF EXISTS `elder_announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `elder_announcements` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `elder_id` int(11) NOT NULL,
  `message` text NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `elder_announcements`
--

LOCK TABLES `elder_announcements` WRITE;
/*!40000 ALTER TABLE `elder_announcements` DISABLE KEYS */;
INSERT INTO `elder_announcements` VALUES (1,8,'no coming to church late tomorrow',NULL,'2026-07-29 16:07:18');
/*!40000 ALTER TABLE `elder_announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `financial_records`
--

DROP TABLE IF EXISTS `financial_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `financial_records` (
  `id` int(6) unsigned NOT NULL AUTO_INCREMENT,
  `pastor_id` int(6) unsigned DEFAULT NULL,
  `department` varchar(100) DEFAULT NULL,
  `amount` decimal(10,2) DEFAULT NULL,
  `recorded_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `description` varchar(255) DEFAULT NULL,
  `record_date` date DEFAULT NULL,
  `recorded_by` int(6) unsigned DEFAULT NULL,
  `recorded_by_name` varchar(120) DEFAULT NULL,
  `is_sent_to_chair` tinyint(1) DEFAULT 0,
  `is_chair_confirmed` tinyint(1) NOT NULL DEFAULT 0,
  `chair_confirmed_by` int(6) unsigned DEFAULT NULL,
  `chair_confirmed_at` datetime DEFAULT NULL,
  `chair_disbursement_note` text DEFAULT NULL,
  `edit_reason` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `financial_records`
--

LOCK TABLES `financial_records` WRITE;
/*!40000 ALTER TABLE `financial_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `financial_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fine_templates`
--

DROP TABLE IF EXISTS `fine_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fine_templates` (
  `id` int(6) unsigned NOT NULL AUTO_INCREMENT,
  `department` varchar(255) NOT NULL,
  `fine_name` varchar(255) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fine_templates`
--

LOCK TABLES `fine_templates` WRITE;
/*!40000 ALTER TABLE `fine_templates` DISABLE KEYS */;
INSERT INTO `fine_templates` VALUES (2,'Youths','noise in the meeting',20.00,'2026-07-18 20:47:30'),(3,'Sunday School','noise in the meeting',20.00,'2026-08-21 13:31:39');
/*!40000 ALTER TABLE `fine_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `graduation_list`
--

DROP TABLE IF EXISTS `graduation_list`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `graduation_list` (
  `id` int(6) unsigned NOT NULL AUTO_INCREMENT,
  `member_id` int(6) unsigned NOT NULL,
  `department` varchar(50) NOT NULL,
  `graduation_year` int(4) NOT NULL,
  `added_by` int(6) unsigned NOT NULL,
  `added_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `graduation_list`
--

LOCK TABLES `graduation_list` WRITE;
/*!40000 ALTER TABLE `graduation_list` DISABLE KEYS */;
INSERT INTO `graduation_list` VALUES (2,7,'Youths',2026,8,'2026-07-18 22:06:09');
/*!40000 ALTER TABLE `graduation_list` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leader_messages`
--

DROP TABLE IF EXISTS `leader_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `leader_messages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `dept_key` varchar(100) NOT NULL,
  `sender_id` int(11) NOT NULL,
  `message` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leader_messages`
--

LOCK TABLES `leader_messages` WRITE;
/*!40000 ALTER TABLE `leader_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `leader_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `member_fines`
--

DROP TABLE IF EXISTS `member_fines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `member_fines` (
  `id` int(6) unsigned NOT NULL AUTO_INCREMENT,
  `member_id` int(6) unsigned NOT NULL,
  `discipline_master_id` int(6) unsigned NOT NULL,
  `department` varchar(255) NOT NULL,
  `fine_reason` varchar(255) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `status` enum('Unpaid','Pending Verification','Paid') DEFAULT 'Unpaid',
  `issued_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `paid_at` timestamp NULL DEFAULT NULL,
  `reminded_for_meeting` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `member_fines`
--

LOCK TABLES `member_fines` WRITE;
/*!40000 ALTER TABLE `member_fines` DISABLE KEYS */;
INSERT INTO `member_fines` VALUES (1,7,8,'Youths','noise in the meeting',20.00,'Paid','2026-07-18 20:47:50','2026-07-18 21:14:34',0);
/*!40000 ALTER TABLE `member_fines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `member_messages`
--

DROP TABLE IF EXISTS `member_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `member_messages` (
  `id` int(6) unsigned NOT NULL AUTO_INCREMENT,
  `member_id` int(6) unsigned DEFAULT NULL,
  `pastor_name` varchar(100) DEFAULT NULL,
  `message` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `member_messages`
--

LOCK TABLES `member_messages` WRITE;
/*!40000 ALTER TABLE `member_messages` DISABLE KEYS */;
INSERT INTO `member_messages` VALUES (1,1,'peter','i want to see you','2026-07-18 10:20:37'),(2,40,'peter','','2026-08-26 18:58:22');
/*!40000 ALTER TABLE `member_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `member_reports`
--

DROP TABLE IF EXISTS `member_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `member_reports` (
  `id` int(6) unsigned NOT NULL AUTO_INCREMENT,
  `reported_member_id` int(6) unsigned NOT NULL,
  `reported_by_id` int(6) unsigned NOT NULL,
  `department` varchar(255) NOT NULL,
  `reason` text NOT NULL,
  `status` enum('Pending Chairman','Forwarded to Pastor','Resolved') DEFAULT 'Pending Chairman',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `member_reports`
--

LOCK TABLES `member_reports` WRITE;
/*!40000 ALTER TABLE `member_reports` DISABLE KEYS */;
INSERT INTO `member_reports` VALUES (1,7,8,'Youths','very naughty','Forwarded to Pastor','2026-07-18 20:48:23');
/*!40000 ALTER TABLE `member_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `members`
--

DROP TABLE IF EXISTS `members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `members` (
  `id` int(6) unsigned NOT NULL AUTO_INCREMENT,
  `first_name` varchar(50) NOT NULL,
  `last_name` varchar(50) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `church_role` text DEFAULT NULL,
  `department` varchar(50) DEFAULT 'None',
  `pending_department` varchar(50) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `is_approved` tinyint(1) DEFAULT 0,
  `reg_date` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `profile_picture` varchar(255) DEFAULT 'default_avatar.png',
  `gender` enum('Male','Female') DEFAULT 'Male',
  `pending_role` varchar(255) DEFAULT NULL,
  `pending_proposed_by` int(11) DEFAULT NULL,
  `church_village` varchar(50) DEFAULT NULL,
  `pending_church_village` varchar(100) DEFAULT NULL,
  `desired_role_pref` varchar(50) DEFAULT NULL,
  `pending_desired_role_pref` varchar(100) DEFAULT NULL,
  `username` varchar(50) DEFAULT NULL,
  `setup_completed` tinyint(1) DEFAULT 0,
  `sunday_school_class` enum('Battalion','Conquerors','Little Angels','Champions') DEFAULT NULL,
  `decline_reason` text DEFAULT NULL,
  `decline_attempts` int(11) DEFAULT 0,
  `is_village_leader` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `unique_phone` (`phone`)
) ENGINE=InnoDB AUTO_INCREMENT=55 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `members`
--

LOCK TABLES `members` WRITE;
/*!40000 ALTER TABLE `members` DISABLE KEYS */;
/*!40000 ALTER TABLE `members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` int(6) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(6) unsigned DEFAULT NULL,
  `user_type` enum('member','pastor','admin') DEFAULT NULL,
  `message` text DEFAULT NULL,
  `is_read` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=634 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `organized_events`
--

DROP TABLE IF EXISTS `organized_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `organized_events` (
  `id` int(6) unsigned NOT NULL AUTO_INCREMENT,
  `department` varchar(255) NOT NULL,
  `organizer_id` int(6) unsigned NOT NULL,
  `title` varchar(255) NOT NULL,
  `announcement` text NOT NULL,
  `meet_link` varchar(255) DEFAULT NULL,
  `whatsapp_link` varchar(255) DEFAULT NULL,
  `attendance_file` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `organized_events`
--

LOCK TABLES `organized_events` WRITE;
/*!40000 ALTER TABLE `organized_events` DISABLE KEYS */;
INSERT INTO `organized_events` VALUES (1,'Youths',7,'27 meeting ','we come and join','https://meet.google.com/jpg-dqye-zdn ','https://chat.whatsapp.com/FCYBG8EwcwQG9d7cWH5Bnk',NULL,'2026-07-18 19:48:55'),(2,'Youths',10,'weekly meeting','prepare','','',NULL,'2026-07-29 16:17:10');
/*!40000 ALTER TABLE `organized_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pastor_announcements`
--

DROP TABLE IF EXISTS `pastor_announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pastor_announcements` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pastor_id` int(11) NOT NULL,
  `message` text NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pastor_announcements`
--

LOCK TABLES `pastor_announcements` WRITE;
/*!40000 ALTER TABLE `pastor_announcements` DISABLE KEYS */;
INSERT INTO `pastor_announcements` VALUES (1,2,'tomoorow you com we have a meeting in the church',NULL,'2026-08-08 20:43:48'),(2,2,'sss','uploads/announcements/pastor_ann_1786221936_e17d3db5.jpg','2026-08-08 20:45:36');
/*!40000 ALTER TABLE `pastor_announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pastor_leader_messages`
--

DROP TABLE IF EXISTS `pastor_leader_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pastor_leader_messages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `dept_key` varchar(60) NOT NULL,
  `pastor_id` int(11) NOT NULL,
  `message` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pastor_leader_messages`
--

LOCK TABLES `pastor_leader_messages` WRITE;
/*!40000 ALTER TABLE `pastor_leader_messages` DISABLE KEYS */;
INSERT INTO `pastor_leader_messages` VALUES (1,'youths',2,'fffff','2026-08-08 20:53:32'),(2,'worship_leaders',2,'fff','2026-08-09 10:57:59');
/*!40000 ALTER TABLE `pastor_leader_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pastors`
--

DROP TABLE IF EXISTS `pastors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pastors` (
  `id` int(6) unsigned NOT NULL AUTO_INCREMENT,
  `first_name` varchar(50) NOT NULL,
  `last_name` varchar(50) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `is_approved` tinyint(1) DEFAULT 1,
  `role` varchar(50) DEFAULT 'Pastor',
  `reg_date` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `profile_picture` varchar(255) DEFAULT 'default_avatar.png',
  `username` varchar(50) DEFAULT NULL,
  `setup_completed` tinyint(1) DEFAULT 0,
  `gender` enum('Male','Female') DEFAULT 'Male',
  `department` varchar(50) DEFAULT NULL,
  `church_village` varchar(50) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `desired_role_pref` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pastors`
--

LOCK TABLES `pastors` WRITE;
/*!40000 ALTER TABLE `pastors` DISABLE KEYS */;
INSERT INTO `pastors` VALUES (15,'peter','ntoiti',NULL,'0745685872','$2y$10$M5VF4ABV9ylw3PD5JWWd6uIFycBBwPX1wZ5uIPZ0fLLqBSVulnOYC',1,'nkodi','2026-09-27 15:41:51','pastor_15_1790523495.jpeg','peter',1,'Male','Elders','Akoritho','nkodi','');
/*!40000 ALTER TABLE `pastors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prayer_items`
--

DROP TABLE IF EXISTS `prayer_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prayer_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `department` varchar(100) NOT NULL,
  `coordinator_id` int(11) NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `category` varchar(100) DEFAULT 'General',
  `status` enum('Active','Answered') NOT NULL DEFAULT 'Active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prayer_items`
--

LOCK TABLES `prayer_items` WRITE;
/*!40000 ALTER TABLE `prayer_items` DISABLE KEYS */;
INSERT INTO `prayer_items` VALUES (1,'Youths',7,'family','isaiah 60.22','Family','Active','2026-07-18 22:38:34');
/*!40000 ALTER TABLE `prayer_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prayer_schedules`
--

DROP TABLE IF EXISTS `prayer_schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prayer_schedules` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `department` varchar(100) NOT NULL,
  `coordinator_id` int(11) NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `prayer_date` date NOT NULL,
  `prayer_time` time NOT NULL,
  `end_time` time DEFAULT NULL,
  `location` varchar(255) DEFAULT 'Department Meeting Room',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `notification_sent` tinyint(1) DEFAULT 0,
  `end_notification_sent` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prayer_schedules`
--

LOCK TABLES `prayer_schedules` WRITE;
/*!40000 ALTER TABLE `prayer_schedules` DISABLE KEYS */;
INSERT INTO `prayer_schedules` VALUES (1,'Youths',7,'church unity','praying for church  unity','2026-07-19','04:37:00',NULL,'munyari grounds','2026-07-18 22:38:01',1,0),(2,'Youths',7,'prayer for youths','praying for the youths','2026-07-19','02:00:00','02:30:00','Church Main Hall','2026-07-18 22:58:13',1,1);
/*!40000 ALTER TABLE `prayer_schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `secretary_announcement_queries`
--

DROP TABLE IF EXISTS `secretary_announcement_queries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `secretary_announcement_queries` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `secretary_id` int(11) NOT NULL,
  `department` varchar(100) NOT NULL,
  `message` text NOT NULL,
  `status` varchar(30) NOT NULL DEFAULT 'Pending',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `secretary_announcement_queries`
--

LOCK TABLES `secretary_announcement_queries` WRITE;
/*!40000 ALTER TABLE `secretary_announcement_queries` DISABLE KEYS */;
INSERT INTO `secretary_announcement_queries` VALUES (1,9,'Womens Ministry','annoucnce in the church that tommoroow we will be having a fundraiser','Replied','2026-07-29 15:50:46'),(2,11,'Youths','kanounce for us','Replied','2026-07-30 15:00:45'),(3,11,'Youths','rreee','Pending','2026-08-08 16:59:22'),(4,13,'Building & Construction','trtrrr','Pending','2026-08-08 20:10:10'),(5,1,'Elders','annouce in the church','Replied','2026-08-09 07:01:49');
/*!40000 ALTER TABLE `secretary_announcement_queries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `secretary_direct_messages`
--

DROP TABLE IF EXISTS `secretary_direct_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `secretary_direct_messages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `query_id` int(11) DEFAULT NULL,
  `sender_id` int(11) NOT NULL,
  `recipient_id` int(11) NOT NULL,
  `message` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `secretary_direct_messages`
--

LOCK TABLES `secretary_direct_messages` WRITE;
/*!40000 ALTER TABLE `secretary_direct_messages` DISABLE KEYS */;
INSERT INTO `secretary_direct_messages` VALUES (1,1,1,9,'noted rose','2026-07-29 15:58:38'),(2,NULL,9,11,'eee','2026-07-30 15:39:22'),(3,2,9,11,'wwww','2026-07-30 15:39:29'),(4,NULL,9,9,'ee','2026-07-30 15:41:07'),(5,5,9,1,'dddd','2026-08-09 07:14:51'),(6,5,9,1,'wwww','2026-08-09 07:20:14');
/*!40000 ALTER TABLE `secretary_direct_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sport_announcements`
--

DROP TABLE IF EXISTS `sport_announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sport_announcements` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `department` varchar(100) NOT NULL,
  `secretary_id` int(11) NOT NULL,
  `message` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sport_announcements`
--

LOCK TABLES `sport_announcements` WRITE;
/*!40000 ALTER TABLE `sport_announcements` DISABLE KEYS */;
/*!40000 ALTER TABLE `sport_announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sport_matches`
--

DROP TABLE IF EXISTS `sport_matches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sport_matches` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `department` varchar(100) NOT NULL,
  `secretary_id` int(11) NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `match_date` date NOT NULL,
  `match_time` time NOT NULL,
  `end_time` time DEFAULT NULL,
  `location` varchar(255) DEFAULT 'Church Grounds',
  `notification_sent` tinyint(1) DEFAULT 0,
  `end_notification_sent` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `score_result` varchar(100) DEFAULT NULL,
  `result_image` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sport_matches`
--

LOCK TABLES `sport_matches` WRITE;
/*!40000 ALTER TABLE `sport_matches` DISABLE KEYS */;
INSERT INTO `sport_matches` VALUES (1,'Youths',8,'e.apc vs kathura church',' hope it will be a better match','2026-07-19','02:46:00','05:43:00','Church  filed',1,1,'2026-07-18 23:44:07',NULL,NULL);
/*!40000 ALTER TABLE `sport_matches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sunday_school_attendance_entries`
--

DROP TABLE IF EXISTS `sunday_school_attendance_entries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sunday_school_attendance_entries` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `register_id` int(11) NOT NULL,
  `member_id` int(11) NOT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'Absent',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sunday_school_attendance_entries`
--

LOCK TABLES `sunday_school_attendance_entries` WRITE;
/*!40000 ALTER TABLE `sunday_school_attendance_entries` DISABLE KEYS */;
INSERT INTO `sunday_school_attendance_entries` VALUES (1,1,46,'Present','2026-09-19 13:30:55');
/*!40000 ALTER TABLE `sunday_school_attendance_entries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sunday_school_attendance_registers`
--

DROP TABLE IF EXISTS `sunday_school_attendance_registers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sunday_school_attendance_registers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `class_name` varchar(100) NOT NULL,
  `teacher_id` int(11) NOT NULL,
  `attendance_date` date NOT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sunday_school_attendance_registers`
--

LOCK TABLES `sunday_school_attendance_registers` WRITE;
/*!40000 ALTER TABLE `sunday_school_attendance_registers` DISABLE KEYS */;
INSERT INTO `sunday_school_attendance_registers` VALUES (1,'Champions',41,'2026-09-19','','2026-09-19 13:30:55');
/*!40000 ALTER TABLE `sunday_school_attendance_registers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sunday_school_class_leaders`
--

DROP TABLE IF EXISTS `sunday_school_class_leaders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sunday_school_class_leaders` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `class_name` varchar(100) NOT NULL,
  `leader_id` int(11) NOT NULL,
  `assigned_by_type` varchar(30) NOT NULL,
  `assigned_by_id` int(11) NOT NULL,
  `status` varchar(30) NOT NULL DEFAULT 'Pending',
  `requested_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `reviewed_by_type` varchar(30) DEFAULT NULL,
  `reviewed_by_id` int(11) DEFAULT NULL,
  `reviewed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sunday_school_class_leaders`
--

LOCK TABLES `sunday_school_class_leaders` WRITE;
/*!40000 ALTER TABLE `sunday_school_class_leaders` DISABLE KEYS */;
INSERT INTO `sunday_school_class_leaders` VALUES (1,'Champions',41,'pastor',14,'Active','2026-09-16 07:06:30','pastor',14,'2026-09-16 10:06:30');
/*!40000 ALTER TABLE `sunday_school_class_leaders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sunday_school_class_messages`
--

DROP TABLE IF EXISTS `sunday_school_class_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sunday_school_class_messages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `class_name` varchar(100) NOT NULL,
  `teacher_id` int(11) NOT NULL,
  `message` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sunday_school_class_messages`
--

LOCK TABLES `sunday_school_class_messages` WRITE;
/*!40000 ALTER TABLE `sunday_school_class_messages` DISABLE KEYS */;
INSERT INTO `sunday_school_class_messages` VALUES (1,'Champions',41,'good eveng my class','2026-09-19 12:28:22');
/*!40000 ALTER TABLE `sunday_school_class_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sunday_school_class_requests`
--

DROP TABLE IF EXISTS `sunday_school_class_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sunday_school_class_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `member_id` int(11) NOT NULL,
  `current_class` varchar(100) DEFAULT NULL,
  `requested_class` varchar(100) NOT NULL,
  `status` varchar(30) NOT NULL DEFAULT 'Pending',
  `requested_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `reviewed_by_type` varchar(30) DEFAULT NULL,
  `reviewed_by_id` int(11) DEFAULT NULL,
  `reviewed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sunday_school_class_requests`
--

LOCK TABLES `sunday_school_class_requests` WRITE;
/*!40000 ALTER TABLE `sunday_school_class_requests` DISABLE KEYS */;
INSERT INTO `sunday_school_class_requests` VALUES (1,47,'Little Angels','Conquerors','Approved','2026-09-16 05:31:22','pastor',14,'2026-09-16 08:40:19'),(2,47,'Conquerors','Little Angels','Approved','2026-09-16 05:43:07','admin',1,'2026-09-16 08:43:39'),(3,47,'Battalion','Conquerors','Approved','2026-09-16 06:14:21','member',45,'2026-09-16 09:17:36');
/*!40000 ALTER TABLE `sunday_school_class_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usher_announcements`
--

DROP TABLE IF EXISTS `usher_announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usher_announcements` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `usher_id` int(11) NOT NULL,
  `title` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usher_announcements`
--

LOCK TABLES `usher_announcements` WRITE;
/*!40000 ALTER TABLE `usher_announcements` DISABLE KEYS */;
INSERT INTO `usher_announcements` VALUES (1,10,'no leaving doors not opened','close the door',NULL,'2026-07-30 12:26:24'),(2,10,'nnn','rr',NULL,'2026-07-30 12:57:51');
/*!40000 ALTER TABLE `usher_announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usher_chat`
--

DROP TABLE IF EXISTS `usher_chat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usher_chat` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `sender_id` int(11) NOT NULL,
  `message` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usher_chat`
--

LOCK TABLES `usher_chat` WRITE;
/*!40000 ALTER TABLE `usher_chat` DISABLE KEYS */;
INSERT INTO `usher_chat` VALUES (1,11,'can we have meeting ushers kindly','2026-07-30 12:14:13'),(2,10,'ww','2026-08-08 15:02:45');
/*!40000 ALTER TABLE `usher_chat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `village_announcements`
--

DROP TABLE IF EXISTS `village_announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `village_announcements` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `village` varchar(50) NOT NULL,
  `leader_id` int(11) NOT NULL,
  `message` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `village_announcements`
--

LOCK TABLES `village_announcements` WRITE;
/*!40000 ALTER TABLE `village_announcements` DISABLE KEYS */;
/*!40000 ALTER TABLE `village_announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `worship_announcements`
--

DROP TABLE IF EXISTS `worship_announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `worship_announcements` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `leader_id` int(6) unsigned NOT NULL,
  `message` text NOT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `leader_id` (`leader_id`),
  CONSTRAINT `worship_announcements_ibfk_1` FOREIGN KEY (`leader_id`) REFERENCES `members` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `worship_announcements`
--

LOCK TABLES `worship_announcements` WRITE;
/*!40000 ALTER TABLE `worship_announcements` DISABLE KEYS */;
/*!40000 ALTER TABLE `worship_announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `worship_leadership_chat`
--

DROP TABLE IF EXISTS `worship_leadership_chat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `worship_leadership_chat` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `sender_id` int(6) unsigned NOT NULL,
  `message` text NOT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `sender_id` (`sender_id`),
  CONSTRAINT `worship_leadership_chat_ibfk_1` FOREIGN KEY (`sender_id`) REFERENCES `members` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `worship_leadership_chat`
--

LOCK TABLES `worship_leadership_chat` WRITE;
/*!40000 ALTER TABLE `worship_leadership_chat` DISABLE KEYS */;
/*!40000 ALTER TABLE `worship_leadership_chat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `worship_tasks`
--

DROP TABLE IF EXISTS `worship_tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `worship_tasks` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `member_id` int(6) unsigned NOT NULL,
  `task_name` varchar(255) NOT NULL,
  `assigned_by` int(6) unsigned NOT NULL,
  `assigned_at` datetime DEFAULT current_timestamp(),
  `status` enum('Pending','Completed') DEFAULT 'Pending',
  PRIMARY KEY (`id`),
  KEY `member_id` (`member_id`),
  KEY `assigned_by` (`assigned_by`),
  CONSTRAINT `worship_tasks_ibfk_1` FOREIGN KEY (`member_id`) REFERENCES `members` (`id`) ON DELETE CASCADE,
  CONSTRAINT `worship_tasks_ibfk_2` FOREIGN KEY (`assigned_by`) REFERENCES `members` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `worship_tasks`
--

LOCK TABLES `worship_tasks` WRITE;
/*!40000 ALTER TABLE `worship_tasks` DISABLE KEYS */;
/*!40000 ALTER TABLE `worship_tasks` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-05 18:43:22
